@import url('https://fonts.googleapis.com/css?family=Lato:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono|Roboto+Slab:400,600,700&display=swap');

html, body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  font-family: 'Lato', sans-serif;
  color: #505962;
}

.offset:before {
  display: block;
  content: "";
  height: 4rem;
  margin-top: -3rem;
}

p {
  font-size: 1.2rem;
}

h5 {
  font-family: 'Roboto Mono', monospace;
}

/*--- Navigation ---*/
.navbar {
  text-transform: uppercase;
  font-weight: 700;
  font-size: .9rem;
  letter-spacing: .1rem;
}

.navbar-nav li {
  padding-right: .7rem;
}


/*--- Landing page---*/
.landing-text {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  color: white;
}

.landing-text h1 {
  font-size: 500%;
  font-weight: 700;
  letter-spacing: .2rem;
  text-shadow: .1rem .1rem .8rem grey;
  padding-bottom: .1rem;
}

.landing-text h3 {
  font-size: 2rem;
  text-shadow: .1rem .1rem .5rem grey;
}


/*---About Section --*/
.narrow {
  width: 80%;
  margin: 1.5rem auto;
  padding-top: 2rem;
  padding-bottom: 3rem;
}

#about img {
  max-width: 80%;
  width: 280;
  height: 280;
}


/*---Skills Section --*/
.jumbotron {
  margin-bottom: 0;
  padding: 5rem 0 5rem;
  border-radius: 0;
}

h2.heading {
  font-size: 1.9rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 1.3rem;
}

.heading-underline {
  width: 3rem;
  height: .2rem;
  background-color:#505962;
  margin: 0 auto 2rem;
}

.skills h4 {
  padding-top: 1rem;
  font-size: 1.3rem;
  padding-bottom: 2rem;
}

.skills:hover {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}



/*---Projects Section ---*/
#projects .inner-div {
  width: 85%;
  margin: 1.5rem auto;
  padding-top: 2rem;
  padding-bottom: 3rem;
}

#projects .col-lg-6 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

#projects img {
  border: 10px solid;
}

#button-right {
  padding-left: 1rem;
}



/*---Contact Section --*/
#contact {
  background-color: #6384ba;
  color: white;
}

#contact .col-md-5 {
  padding: 4rem 0 4rem;
}

#contact a {
  color: #505962;
}

#contact i {
  font-size: 1.6rem;
  margin: 1.2rem .5rem 0 0;
}

#contact i:hover {
  color: white;
}

.heading-underline-white {
  width: 3rem;
  height: .2rem;
  background-color: white;
  margin: 0 auto 2rem;
}


/*---Media Queries --*/
@media (max-width: 992px) {

}

@media (max-width: 768px) {
  .narrow {
    width: 90%;
  }

  #about img {
    max-width: 50%;
    width: 200;
    height: 200;
    display: block;
    margin: 0 auto;
    margin-bottom: 2rem;
  }
  #projects .inner-div {
    width: 90%;
  }
  
  #projects .col-lg-6 {
    padding-top: 3rem;
    padding-bottom: 0;
  }
}

@media (max-width: 576px) {
  .narrow {
    width: 100%;
  }
  .landing-text h1 {
    font-size: 2.3rem;
    letter-spacing: .15rem;
    padding-bottom: .5rem;
  }
  
  .landing-text h3 {
    font-size: 1.2rem;
    padding-bottom: 1.2rem;
  }
  
  #projects .inner-div {
    width: 100%;
  }
}


/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/